
.link {
    color: var(--foreground);
    text-decoration: none;
}

.link::after {
    content: url("../../assets/icons/arrow.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 0 0 8px; 
    vertical-align: middle;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.link--secondary::after {
    content: url("../../assets/icons/arrow.svg");
    fill: var(--primary);
}

.link--secondary {
    color: var(--primary);
}
