.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: var(--spacing-8);
}

.testimonials > li {
  min-width: 280px;
  padding: var(--spacing-8);
  background-color: var(--muted);
  border-radius: var(--rounded-2xl);
  display: grid;
  grid-template-rows: 1fr auto;
}

.testimonial__text {
  font-size: var(--font-sm);
  font-weight: 400;
  font-family: var(--text);
  line-height: var(--leading-6);
}

.testimonial__author {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: var(--spacing-6); /* 24px */
  gap: var(--spacing-4); /* 16px */
}

.testimonial__author img {
  width: 48px;
  height: 48px;
  border-radius: var(--rounded-full);
  object-fit: cover;
  object-position: center;
}

.testimonial__name {
  color: var(--foreground);
  font-family: var(--text);
  font-size: var(--font-sm);
  font-weight: 600;
  line-height: var(--leading-6);
  text-align: left;
}

.testimonial__tag {
  text-align: left;
}

/*640px  sm */
/* 768px  md*/
/* 1024px lg*/
/* 1280px xl*/

@media (max-width: 40rem) {
  /* 640px  sm */
  .testimonials {
    display: block;
  }

  .testimonials > li {
    margin-block: var(--spacing-6);
  }
}

@media (max-width: 48rem) {
  /* 768px  md */
  .testimonials {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 64rem) {
  /* 1024px lg */
  .testimonials {
    grid-template-columns: 1fr 1fr;
  }
}
